<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clientes</title>
  <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <h2>Adicionar clientes</h2>

  <h4>Adicione os dados do cliente a abaixo</h4>

  <form id="create-new-client">

    <input type="text" id='clientName' placeholder="Nome">
    <input type="text" id='clientEmail' placeholder="E-mail">
    <input type="text" id='clientTellphone' placeholder="Telefone">

    <button type="submit">Adicionar</button>
  </form>



  <section>
    <div class="clients-container">
      {{#each resp}}
      <div class="clientName">Name: {{name}}</div>
      <div class="clientEmail">Email: {{email}}</div>
      <div class="clientTell">Telefone: {{tellphone}}</div>
      {{/each}}
    </div>
  </section>

  <script type="text/javascript" src="../javascript/clients.js"></script>
  <script type="text/javascript" src="../javascript/clientsHandler.js"></script>
</body>

</html>