<h2>Adicionar clientes</h2>

<h4>Adicione os dados do cliente a abaixo</h4>

<form action="" method='POST'>

  <input type="text" placeholder="Nome">
  <input type="text" placeholder="E-mail">
  <input type="text" placeholder="Telefone">

  <button type="submit">Adicionar</button>

</form>