<h2>Alterar senha </h2>
<p>Confirme seu email</p>
<form action="/sendemail" method="POST" name="changePassword">
    <input type="email" name="email">
    <button type="submit">Enviar!</button>
</form>
{{#if Message}}
    <div> {{Message}}</div>
{{/if}}