<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style/stye.css">
  <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <section class="baner3">
    <nav>
      <a>Logo</a>
      <ul class="options">
        <li>Sobre</li>
        <li>Conheça</li>
        <li>Solução</li>
      </ul>

      <div>
        <a class="subscribe1" href="/login">Entrar</a>
        <a class="subscribe" href="/register">Cadastrar</a>
      </div>
    </nav>

    <div class="baner3-inner">
      <h2 class="tittle">Tenha sua vida financeira planejada</h2>
      <a href="" class="banner-btn">Talvez um botão</a>
    </div>
  </section>

  <section class="about-container">
    <div>
      <img src="../images/planyoulife.jpg" alt="">
      <div class="about">
        <h2>Tenha controle do seu dinheiro</h2>
        <p>Deixe de lado aquelas longas planilhas e comece uma nova vida com técnologia,</br>
        pois todos merecemos um descanso e ter algo que faço mais por nós mesmos</p>
      </div>
    </div>
  </section>

  <section class="itens-ilustre">
    <div class="itens-container">
      <div class="item1">
        <img src="../images/detailsIlustre.svg" alt="">
        <h3>Controle de Despesas</h3>
        <p>Tenha todo o controle de suas despesas</br> de um modo fácil e organizado</p>
      </div>

      <div class="item2">
        <img src="../images/invextimentsIlustre.svg" alt="">
        <h3>Dashboard</h3>
        <p>Uma dashboard com gráficos intuitivos e de fácil intendimento</p>
      </div>

      <div class="item3">
        <img src="../images/personalIlustre.svg" alt="">
        <h3>Contole tudo</h3>
        <p>Tenha controle de quanto está recebendo e gastando</p>
      </div>
    </div>
  </section>


  <section class="items-container">
    <div class="otherFunc">
      <h2>Outas funções</h2>
      <p>Mais algumas gunções que estam presente na ferramenta e que ao se cadastrar vão estar disponiveis para utilizar
      </p>
    </div>

    <div class="mini-item-container">
      <div class="row">
        <div class="mini-item-1 column">
          <img src="../images/cashIcon.svg" alt="">
          <p class="sub-tittle">Fontes</p>
          <p>Adicione múltiplos clientes</p>
        </div>

        <div class="mini-item-2 column-left column">
          <img src="../images/checklistIcon.svg" alt="">
          <p class="sub-tittle">Detalhes</p>
          <p>Saiba quando deve receber de cada um dos seus serviços</p>
        </div>
      </div>

      <div class="row">
        <div class="mini-item-3 column">
          <img src="../images/dealIcon.svg" alt="">
          <p class="sub-tittle">Controle</p>
          <p>Tenha controle de todo seu dinheiro</p>
        </div>

        <div class="mini-item-4 column-left column">
          <img src="../images/tabletIcon.svg" alt="">
          <p class="sub-tittle">Gráficos</p>
          <p>Gráficos que te ajudam a entender o movimento de suas finanças</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div>
      <div class="first-footer">
        <p>Entre em contato</p>
      </div>
      <div class="second-footer">
        <p>Se gostou das soluções, crie sua conta e tenha acesso imediato ou entre em contato conosco caso tenha
          maiores dúvidas</p>
        <div class="third-footer">
          <p>Projeto 2 em desenvolvimento do curso web dev Ironhack</p>
          <p>Outro texto com mais alguma explicação talvez, eu não sei</p>
        </div>
        <div class="fourth-footer">
          <a href="">Botão para enviar emailm</a>
        </div>
      </div>
    </div>
  </footer>


</body>

</html>