<form action="/login" method="POST">
    <label>Email: </label>
    <input type="email" name="email">
    <label>Senha: </label>
    <input type="password" name="password" id="senha">
    {{#if errorMessage}}
        <div> {{errorMessage}}</div>
    {{/if}}
    {{#if errorConfirmed}}
        <a href="/confirmemail">{{errorConfirmed}}</a>
    {{/if}}
    <button type="submit">Acessar</button>
    <p>Não possui cadastro? <a href="/register">Cadastrar</a></p>
    <p><a href="/changePassword">Esqueci a senha</a></p>
</form>