<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/styleLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
    <title>Alterar Senha</title>
</head>

<body>
    <nav>
        <a>Logo</a>
        <ul class="options">
            <li>Sobre</li>
            <li>Conheça</li>
            <li>Solução</li>
        </ul>

        <div>
            <a class="subscribe1" href="/">Home</a>
        </div>
    </nav>

    <section class="form-containerr">
        <div class="form-container">
            <img class="img" src="../images/vertical.jpg" alt="">
            <div>
                <h2 class="loginTitle">Alterar Senha</h2>
                    <form class="formL" action="/changepass/?token={{auth}}" method="POST">
                        <label >Nova senha</label>
                        <input class="inputs" type="password" name="password">
                        <label >Confirmar Nova Senha</label>
                        <input class="inputs" type="password" name="confirmPassword">
                        <button id="submit" type="submit">Alterar</button>
                        {{#if Message}}
                            <div class="error"> {{Message}}</div>
                        {{/if}}
                    </form>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../javascript/validate.js"></script>
</body>

</html>