
<form action="/changepass/?token={{auth}}" method="POST">
    <label >Nova senha:</label>
    <input type="password" name="password">
    <label >Confirmar Nova Senha:</label>
    <input type="password" name="confirmPassword">
    <button type="submit">Alterar</button>
    {{#if Message}}
        <div class="error"> {{Message}}</div>
    {{/if}}
</form>